<div class="row mt-3">
<%= render '/books/sidebar', book: @book %>
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr></tr>
        <tr>
          <th>
            <%= link_to user_path(book.user.id) do %>
              <%= image_tag book.user.get_profile_image(100,100) %>
            <% end %>
          </th>
          <th><%= link_to book.title, book_path(book) %></th>
          <th><%= book.body %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>