<div class="row mt-3">
    <div>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved:
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
</div>
<div class="row mt-3">
    <div>
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>

        <p>Title</p>
        <%= f.text_field :title %>

        <p>Option</p>
        <%= f.text_field :body %></br>

        <button type="submit" class="btn btn-success">Update Book</button></br>

        <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", '/books' %>

      <% end %>
    </div>
</div>