<%= render 'sidebar', book: @book %>

<h1>Books</h1>

<% if current_page?(user_books_path) %>
  <% @books.each do |book| %>
    <p>Title</p>
    <%= link_to book.title, "/books/#{book.id}" %>

    <p>Option</p>
    <span><%= book.body %></span>
  <% end %>

<% elsif current_page?(books_path) %>
  <% @books.each do |book| %>
    <p>Title</p>
    <%= link_to book.title, "/books/#{book.id}" %>

    <p>Option</p>
    <span><%= book.body %></span>
  <% end %>

<% else %>
  <% @books.each do |book| %>
    <p>Title</p>
    <%= link_to book.title, "/books/#{book.id}" %>

    <p>Option</p>
    <span><%= book.body %></span>
  <% end %>
<% end %>