<%= render 'sidebar', book: @book %>

<div>
  <h1>Book detail</h1>
  <%= image_tag @book.get_image %>
  <%= link_to @user.name, user_path(@user) %>
  <p>Title <%= link_to @book.title, @book %></p>
  <p>Option <%= @book.body %></p>
  <% if @book.user == current_user %>
    <p><%= link_to "Edit", edit_book_path(@book) %></p>
    <p><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Really?" %></p>
  <% end %>
</div>
