<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="bg-secondary h-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav　mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item d-inline"><%= link_to "Home", book_path(current_user),class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "Users", "/users",class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "Books", books_path,class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "Log out", '/users/sign_out', method: :delete,class: "nav-link" %></li>
            <% else %>
              <li class="nav-item d-inline"><%= link_to "Home", "/homes/top",class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "About", "/homes/about",class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "Sign up", new_user_registration_path,class: "nav-link" %></li>
              <li class="nav-item d-inline"><%= link_to "Log in", new_user_session_path,class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="mx-auto">
      <p style="text-align: center;">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
